body{
    font-family: 'Poppins', sans-serif;
    margin:0%;
}
h1{
    font-size:40px;
    color: darkblue;
}
h2{
    font-size: 30px;
    color: darkviolet;
    padding-right: 3%;
    text-align: justify;
}
h3{
    color: forestgreen;
}
p{
    text-align: justify;
    padding-right: 2%;
}
.orange{
    color: orange;
}
.flexible-container
{display: flex;
    align-items: center;
    margin-bottom:50px;
   
}
.hulf-width{
    width: 100%;
    padding-left:5%;
    }
.hulf-width img{
    width: 50%;
    text-align: center;
    margin-left: 100px;
    width: 60%;
}
.hulf-width1{
    
    text-align:left;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color:rgb(255, 255, 255);
    background-color: orange;
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 10px;
    display: inline;

}
.hader{
    background-image: url(Photo/nice.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    }
    .dream-big{
        background-image: url(Photo/big.png);
        background-repeat: no-repeat;
        background-position:right;
    }

    .Experience-aria{ background-image: url(Photo/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;

    }
    .expriance-item{
        width: 600px;
        margin-left:5%;
        margin-right: 5px;
        padding-left: 20px;
        border-radius: 10px;
        box-shadow:10px 10px 40px gray;
    }
#web-dev{
    border-left:7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#baby-web {
    border-left:7px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
    text-align: justify;
}
footer p{
    text-align: center;
}
.services{
   color: darkblue;
}